body {
  position: relative;
  background: #242729;
  text-align: center;
  padding:0px;
  margin:0px;
}
footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  padding:0px;
  margin:0px;
}
#mainBox {
  background: #efefef;
  width: 100%;
}
#main {
  background: #efefef;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 50px;
}
#topbar {
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 24pt;
  color: #2f2d2d;
}
.spacer {
	height:30px;
}
.bluesSpacer {
  background: #2c3952;
	height:5px;
}
p {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14pt;
  color: #2f2d2d;
}
#text {
  padding-left: 10%;
  padding-right: 10%;
  text-indent: 48px;
  text-align: left;
}
#suggestions {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 13pt;
  text-align: center;
	color: #bbb8ac;
}
#copyright {
  padding-left: 2%;
  padding-right: 5%;
  font-size: 8pt;
  text-align: left;
	color: #848d95;
}
#copyrightParagraph {
  height: 20%;
  text-align: center;
	background:#242729;
  width: 100%;
}
.button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: 16px Tahoma, Geneva, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #f8f8f8;
  background-color: #a28393;
  /* background-color: #ddd; */
  background-image: linear-gradient(top, rgba(255,255,255,1),
    rgba(255,255,255,0));
  transition-duration: 0.4s;
  /*transition: background-color .2s ease-out; */
  background-clip: padding-box; /* Fix bleeding */
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5),
    0 1px 0 rgba(255, 255, 255, .3) inset;
  /* text-shadow: 0 1px 0 rgba(255,255,255, .9); */
  user-select: none;
}
.button:hover {
  /* background-color: #eee; */
  background-color: #bda8b3;
  color: #f8f8f8;
}
hr {
  border-color: #2f2d2d;
}
